@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand-lg bg-light fixed-top shadow-sm" role="alert">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="bi bi-info-circle"></i>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#cookieConsentContent"
                    aria-controls="cookieConsentContent" aria-expanded="false" aria-label="Toggle cookie consent banner">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="cookieConsentContent">
                <p class="text-muted me-auto mb-0">
                    Use this space to summarize your privacy and cookie use policy.
                </p>
                <div>
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info me-2">Learn More</a>
                    <button type="button" class="btn btn-primary" id="acceptCookies" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>
    </nav>

    <script>
        (function () {
            document.querySelector("#acceptCookies").addEventListener("click", function () {
                document.cookie = this.getAttribute("data-cookie-string");
                document.querySelector("#cookieConsent").classList.add("d-none");
            });
        })();
    </script>
}
